%ul.tab-content
  %li.notice_content
    .tab-content__list
      .tab-content__list-mercari
      = fa_icon "angle-right", class: "tab-content__list--allow"
      .tab-content__list--body
        .tab-content__list--body-text
          %p 商品名

