%ul.tab-content
  %li.notice_content
    - @items.each do |item|
      .tab-content__list
        = image_tag item.item_images[0].image, class: "tab-content__list--mercari"
        = fa_icon "angle-right", class: "tab-content__list--arrow"
        .tab-content__list--body
          .tab-content__list--body-text
            = "「#{item.name}」を購入しました。"

