* {
  box-sizing: border-box;
}

label {
  font-size: 14px;
  font-weight: bold;
}

.sell__upload {
  width: 620px;
  padding: 40px;
    &--head {
      font-size: 16px;
      font-weight: bold;
    }
}

.picture__limit {
  font-size: 14px;
  line-height: 1.5;
  margin: 8px 0 0;
}

.sell__dropbox__container {
  margin: 16px auto 0;
}

.sell__upload__dropbox {
  position: relative;
  width: 620px;
  min-height: 184px;
  padding: 0px;
  background: $off-white;
  border: 1px dashed $mail-icon;
  font-size: 0;
  text-align: center;
  cursor: pointer;
    &__file {
      display: none;
    }
    &--visible {
      position: absolute;
      top: 50%;
      left: 16px;
      right: 16px;
      transform: translate(0, -50%);
      text-align: center;
      font-size: 14px;
      line-height: 1.5;
    }
}

.sell__container {
  padding: 40px;
  border-top: 1px solid $btn-gray;
    &--form {
      margin: 40px 0 0 0;
      &:first-child {
        margin: 0;
      }
      &--input {
        @include input-default();
      }
      &--textarea {
        @include textarea-default();
      }
    }
}

.sell-form-box {
  margin-bottom: 30px;
}

.form-group {
  margin: 10px 0;
}


.sell-content.clearfix {
  padding: 40px;
  border-top: 1px solid #eee;
}

.textarea-default {
  height: 150px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
  line-height: 1.5;
  font-size: 16px;
  width: 100%;
}

 // 販売価格
.sell-sub-head {
  color: $progress-bar;
  font-size: 14px;
  float: left;
  font-weight: bold;
}

//配送についてなどの右側にある？マーク
.form-question {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #0099e8;
  color: #fff;
  line-height: 14px;
  font-size: 12px;
  text-align: center;
}

.sell__form__right {
  float: right;
  width: 400px;
  margin: 0;
    &-box {
      padding: 0 0 24px;
    }
}

.category__block__select {
  @include select-default();
  width: 100%;
}

.sell__price {
  float: right;
    &--input {
      @include input-default();
      text-align: right;
      font-size: 12px;
      width: 160px;
    }
    &--margin {
      font-size: 14px;
      padding: 24px 0;
      border-top: 1px solid $mail-icon;
        &--result {
          float: right;
          font-size: 14px;
        }
    }
    &--gain {
      padding: 24px 0;
      border-top: 1px solid $mail-icon;
      font-weight: bold;
        &--total {
          float: right;
          font-size: 30px;
          font-weight: bold;
        }
    }
}

.sell__price-label {
  font-size: 12px;
  font-weight: normal;
}

.sell__content__bottom {
  padding: 40px;
  border-top: 1px solid $btn-gray;
    &__caution {
      margin-bottom: 40px;
      font-size: 14px;
      line-height: 1.5;
    }
    &-btn {
      text-align: center;
    }
}

.caution__text a {
  color: $sky-blue;
  text-decoration: none;
}

.btn__default--sell {
  @include btn-default();
  color: $white;
  background-color: $red-btn;
}

.btn--back {
  display: block;
  text-decoration: none;
  color: $white;
  background-color: $item-comment-btn;
  border: 1px solid $item-comment-btn;
  width: 45%;
  font-size: 14px;
  line-height: 48px;
  cursor: pointer;
  margin: 24px auto 0;
}
