.item__box {
  width: 620px;
}

.sell-upload-box {
  width: 540px;
  padding: 40px;
}

h3.sell-upload-head {
  font-size: 16px;
  font-weight: bold;
}

p.sell-name {
  float:left;
}

p.comment {
  font-size: 14px;
}

.sell-upload-drop-box {
  width: 540px;
  margin: 0;
  min-height: 184px;
  padding: 0px;
  background: #f5f5f5;
  border: 1px dashed #ccc;
  font-size: 0;
  text-align: center;
}

pre.visible-pc {
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  margin-top:70px;
}

.sell-form-box {
  margin-bottom: 30px;
}

.sell-content {
  padding: 40px;
  border-top: 1px solid #eee;
}

.form-group {
  margin: 10px 0;
}

p.label {
  font-size: 13px;
  float:left;
  font-weight: bold;
}

.sell-content.clearfix {
  padding: 40px;
  border-top: 1px solid #eee;
}


.input-goods {
  width: 100%;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  box-sizing: border-box;
}

.textarea-default {
  height: 150px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
  line-height: 1.5;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

 // 販売価格
h3.sell-sub-head {
  color: #888;
  font-size: 12px;
  float: left;
  font-weight: bold;
}

a.form-question {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #0099e8;
  color: #fff;
  line-height: 14px;
  font-size: 12px;
  text-align: center;
}

.sell-form-right {
  float: right;
  width: 400px;
  margin: 0;
}

select.category__block__select {
  z-index: 2;
  height: 48px;
  width: 100%;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}

li.sell-form-box {
  padding: 0 0 24px;
  margin-bottom: 20px;
}

input.input-price {
  height: 48px;
  padding: 10px 16px 8px;
  @include input-default;
  box-sizing: border-box;
  text-align: right;
}

.sell-price-input {
  float:right;
}

li.sell-margin {
  padding: 24px 0;
  border-top: 1px solid #ccc;
}

li.sell-gain {
  padding: 24px 0;
  border-top: 1px solid #ccc;
  font-weight:bold;
}

.result-margin {
  float:right;
  font-size: 14px;
}

.result-total {
  float:right;
  font-size: 30px;
  font-weight: bold;
}

.sell-content-bottom {
  padding: 40px;
  border-top: 1px solid #eee;
}

.caution {
  margin-bottom: 40px;
  font-size: 14px;
  line-height:1.5;
}

.p-text a {
  color: #0099e8;
  text-decoration: none;
}

.button-bottom {
  text-align: center;
}

button.btn-default-sell {
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
}

button.btn-back {
  width: 45%;
  line-height: 48px;
  font-size: 14px;
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
  margin: 24px auto 0;
}
