.seach__content {
  float: left;
  width: 280px;
  height:1400px;
}
.seach__result {
  height:30px;
  margin-bottom: 8px;
  font-size:22px;
  width: 700px;
}
.seach__items {
  margin-right: -22px;
}
.seach__item {
  max-width: 160px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: $white;
  &--body {
    height: 78px;
    max-height: 78px;
    padding: 16px;
  }
  &--image {
    min-width: 160px;
    min-height: 160px;
  }
  &--name {
    overflow: hidden;
    height: 48px;
  }
}
