@import "variable";
@import "./mixin/mixin";

//ルート
.breadcrumbs {
  height: 49px;
  border-top:  solid 1px $off-white;
  padding: 0 210px;
  box-shadow: 0px 100px 0 0;
  line-height: 49px;
  font-size: 14px;
  & a {
    color: $black;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

//全体
.mypage-body {
  background-color:$off-white;
  height: 100%;
  width: 1020px;
  padding: 40px 210px 40px 210px;

  //右側大枠部分
  .main__content {
    float: left;
    width: calc(100vw - 742px);
    height: 100%;
    // ユーザー名、評価表示部分
    .user-information {
      height: 160px;
      width: 660px;
      background-image: url(user-bg.jpg);
      padding: 20px;
      &__link {
        width:660px;
        text-decoration: none;
        display: inline-block;
        //アイコン周りにカーソルが乗ったときに反応
        &:hover {
          opacity: 0.6;
          .user-information__name {
            text-decoration: underline;
          }
        }
      }

      &__figure {
        text-align: center;
        height: 140px;
          position: relative;
          top: 20px;
        &--icon {
          border-radius: 50%;
          width: 60px;
        }
        &--icons {
          border-radius: 50%;
          width: 60px;
          position: relative;
          top: 40px;
        }
      }
          //ログインユーザーの名前
        &__name {
          font-size: 14px;
          color: $black;
        }
          //評価(review)・出品(exhibit)
        &__number {
          height:16px;
          font-size: 14px;
          margin:0 auto;

          color: $black;
          width: 140px;
          &--review {
            float: left;
          }
          &--exhibit {
            float: right;
          }
            span.bold {
              font-size: 16px;
            }
        }
    }
  }
    //購入したのcss
    .trade-information {
      height: 382px;
      margin-top: 40px;
      &__tab {
        padding: 0 16px;
        background-color: $tab-menu;
        height: 72px;
        font-size: 16px;
        line-height: 72px;
      }
    }
}

