@mixin clearfix() {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

@mixin header-btn() {
  text-decoration: none;
  color: $black;
  font-size: 14px;
  font-weight: 400px;
}

@mixin header-nav() {
  color: $black;
  font-size: 14px;
  line-height: 33px;
  margin-left: 8px;
  float: right;
}

@mixin btn-default() {
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  cursor: pointer;
  text-align: center;
  position: relative;
}

@mixin btn-icon() {
  position: absolute;
  top: 15px;
  left: 16px;
  font-size: 20px;
}
